<html>
    <head>
        
        <title><%=(page_title) ? page_title :''%></title>
    
    </head>
    <body>
    

<div class="page-data">
    <div class="data-table">
    <table border="1" cellpadding="7" cellspacing="7">
        <tr>
            <th width="50px">No</th>
            <th>Name</th>
            <th>Role</th>
            <th>Action</th>
        </tr>                               
        <% if(data.length){ 
                        
         for(var i = 0;i < data.length;i++) { %>                 
        <tr>
            <td><%=(i+1)%></td>
            <td><%=data[i].fullname%></td>
            <td><%=data[i].role%></td>
            <td><a href="<%='/edit/' + data[i].id%>" >Edit</a> | <a href="<%='/delete/' + data[i].id%>">Delete</a></td>
        </tr>

    	<% }} %>
                                                     
    </table>
    </div>
</div>        

</body>
</html>
